
body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  * {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }
}


// Header ============================

header {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: $white;
  padding: 50px 80px;
  margin-bottom: 0px;
  .headerBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
      max-width: 150px;
      margin-right: 50px;
    }
    &__titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        color: $red-primary;
        margin-bottom: 0px;
        padding-bottom: 15px;
        font-size: 3rem;
      }
      h3 {
        width: 100%;
        padding: 10px;
        border-top: 2px solid $light;
        border-bottom: 2px solid $light;
        color: $red-primary;
        text-align: center;
        margin-top: 0px;
      }
    }
  }
  @media #{$tablet} {
    .headerBox {
      img {
        margin-left: 50px;
      }
      &__titles h1 {
        text-align: center;
      }
    }
  }
  @media #{$mobile} {
    padding: 30px 45px;
    .headerBox {
      img {
        margin-left: 50px;
      }
      &__titles h1 {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}


// navbar ============================

nav {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: $light;
  margin-top: -16px;
  margin-bottom: -16px;
  min-height: 69px;
  ul {
    width: 100%;
    max-width: 500px;
    height: 69px !important;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 0px;
    // margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    a {
      text-decoration: none;
      color: $red-primary;
      transition: color 175ms ease-in-out;
      font-size: 1.2rem;
      li {
        list-style: none;
        display: inline;
        padding: 0px 15px !important;
        min-height: 50px;
        // min-width: 300px;
      }
      &:hover {
        color: $dark;
      }
    }
  }

  @media #{$mobile} {
    ul a {
      font-size: 1rem;
    }
  }
}


// Phone Box =========================

.ctaPhoneNumber {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: $off-white;
  padding-top: 15px;
  padding-bottom: 15px;
  h2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: $red-primary;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 2.1rem;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        cursor: pointer;
      }
    }
  }
}


// Section ===========================

section {
  padding: 25px;
  background-color: $white;
  .section {
    &__paragraphBox {
      width: 100%;
      min-width: 100%;
      padding-top: $padding-amount;
      padding-bottom: $padding-amount;
      h3 {
        font-size: 1.7rem;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
      }
      img {
        display: none;
        max-width: 200px;
      }
    }
    &__hr {
      width: 80%;
      color: $dark;
      background-color: $dark;
      border: none;
      height: 2px;
    }
    &__infoBox {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding-top: $padding-amount;
      padding-bottom: $padding-amount;
      h1 {
        width: 100%;
        min-width: 100%;
        color: $red-primary;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.4rem;
        text-align: center;
      }
      h2 {
        width: 230px;
        text-align: center;
        color: $dark;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.7rem;
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            cursor: pointer;
          }
        }
        &:before {
          content: '(';
          font-size: 3rem;
          position: absolute;
          left: 0px;
          top: 40%;
          transform: translateY(-50%);
        }
        &:after {
          content: ')';
          font-size: 3rem;
          position: absolute;
          right: 0px;
          top: 40%;
          transform: translateY(-50%);
        }
      }
      h5 {
        width: 100%;
        color: $red-primary;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 500px;
      }
    }
  }
}


// footer ============================

footer {
  padding-top: $padding-amount;
  padding-bottom: $padding-amount;
  background-color: $red-primary;
  h4 {
    color: $off-white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        cursor: pointer;
      }
    }
  }
  h5 {
    color: $light;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
  }
}


// Misc Classes ======================

.lightText {
  color: $red-primary;
}

.darkText {
  color: $dark;
}

.navbar-fixed {
  top: 10px;
  z-index: 5;
  position: fixed;
  box-shadow: 0px 0px 35px $dark-transparent;
  ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.padding-top {
  padding-top: 80px;
}
