
// Colors -------------------------

$red-primary: rgb(207, 53, 49);
// FF4B3E
$red-darker: #CB4335;
$dark: #2A2A2A;
$dark-transparent: rgba(0, 0, 0, 0.5);
$text-transparent: rgba(0, 0, 0, 0.2);
$light: #F5D6BA;
$gold: #FFBA49;
$off-blue: #6B8788;
$off-white: #FAFAFA;
$white: #ffffff;

// Misc ---------------------------

$padding-amount: 25px;

// Animations ---------------------

@-webkit-keyframes showTheMenu {
  0% { opacity: 0;}
  99% { opacity: 1;}
  100% { opacity: 1;}
}

// Media Queries ------------------

$mobile: "screen and (max-width: 555px)";
$mobile-roof: "screen and (min-width: 556px)";
$tablet: "screen and (max-width: 884px)";
$tablet-roof: "screen and (min-width: 885px)";
