
// Colors -------------------------

$red-primary: #FF4B3E;
$red-darker: #CB4335;
$dark: #2A2A2A;
$light: #F5D6BA;
$gold: #FFBA49;
$off-blue: #6B8788;
$off-white: #FAFAFA;

// Misc ---------------------------

$padding-amount: 25px;

// Animations ---------------------



// Media Queries ------------------

$mobile: "screen and (max-width: 555px)";
$mobile-roof: "screen and (min-width: 556px)";
$tablet: "screen and (max-width: 884px)";
$tablet-roof: "screen and (min-width: 885px)";
