body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh; }
  body * {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif; }

header {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #FAFAFA;
  padding: 50px 80px;
  margin-bottom: 0px; }
  header .headerBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    header .headerBox img {
      width: 150px;
      max-width: 150px;
      margin-right: 50px; }
    header .headerBox__titles {
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .headerBox__titles h1 {
        color: #cf3531;
        margin-bottom: 0px;
        padding-bottom: 15px;
        font-size: 3rem; }
      header .headerBox__titles h3 {
        width: 100%;
        padding: 10px;
        border-top: 2px solid #F5D6BA;
        border-bottom: 2px solid #F5D6BA;
        color: #cf3531;
        text-align: center;
        margin-top: 0px; }
  @media screen and (max-width: 884px) {
    header .headerBox img {
      margin-left: 50px; }
    header .headerBox__titles h1 {
      text-align: center; } }
  @media screen and (max-width: 555px) {
    header {
      padding: 30px 45px; }
      header .headerBox img {
        margin-left: 50px; }
      header .headerBox__titles h1 {
        text-align: center;
        font-size: 2rem; } }

nav {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: #F5D6BA;
  margin-top: -16px;
  margin-bottom: -16px;
  min-height: 69px; }
  nav ul {
    width: 100%;
    max-width: 500px;
    height: 69px !important;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px; }
    nav ul a {
      text-decoration: none;
      color: #cf3531;
      transition: color 175ms ease-in-out;
      font-size: 1.2rem; }
      nav ul a li {
        list-style: none;
        display: inline;
        padding: 0px 15px !important;
        min-height: 50px; }
      nav ul a:hover {
        color: #2A2A2A; }
  @media screen and (max-width: 555px) {
    nav ul a {
      font-size: 1rem; } }

.ctaPhoneNumber {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: #FAFAFA;
  padding-top: 15px;
  padding-bottom: 15px; }
  .ctaPhoneNumber h2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #cf3531;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 2.1rem; }
    .ctaPhoneNumber h2 a {
      text-decoration: none;
      color: inherit; }
      .ctaPhoneNumber h2 a:hover {
        cursor: pointer; }

section {
  padding: 25px;
  background-color: #CB4335; }
  section .section__paragraphBox {
    width: 100%;
    min-width: 100%;
    padding-top: 25px;
    padding-bottom: 25px; }
    section .section__paragraphBox h3 {
      font-size: 1.7rem;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      text-align: justify; }
    section .section__paragraphBox img {
      display: none;
      max-width: 200px; }
  section .section__hr {
    width: 80%;
    color: #2A2A2A;
    background-color: #2A2A2A;
    border: none;
    height: 2px; }
  section .section__infoBox {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 25px; }
    section .section__infoBox h1 {
      width: 100%;
      min-width: 100%;
      color: #F5D6BA;
      margin-left: auto;
      margin-right: auto;
      font-size: 2.4rem;
      text-align: center; }
    section .section__infoBox h2 {
      width: 230px;
      text-align: center;
      color: #2A2A2A;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.7rem; }
      section .section__infoBox h2 a {
        text-decoration: none;
        color: inherit; }
        section .section__infoBox h2 a:hover {
          cursor: pointer; }
      section .section__infoBox h2:before {
        content: '(';
        font-size: 3rem;
        position: absolute;
        left: 0px;
        top: 40%;
        transform: translateY(-50%); }
      section .section__infoBox h2:after {
        content: ')';
        font-size: 3rem;
        position: absolute;
        right: 0px;
        top: 40%;
        transform: translateY(-50%); }
    section .section__infoBox h5 {
      width: 100%;
      color: #F5D6BA;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 500px; }

footer {
  padding-top: 25px;
  padding-bottom: 25px; }
  footer h4 {
    color: #cf3531;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px; }
    footer h4 a {
      text-decoration: none;
      color: inherit; }
      footer h4 a:hover {
        cursor: pointer; }
  footer h5 {
    color: #F5D6BA;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300; }

.lightText {
  color: #F5D6BA; }

.darkText {
  color: #2A2A2A; }

.navbar-fixed {
  top: 10px;
  z-index: 5;
  position: fixed;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5); }
  .navbar-fixed ul {
    margin-top: 0px;
    margin-bottom: 0px; }

.padding-top {
  padding-top: 80px; }

section.productsSection {
  background-color: #FAFAFA; }
  section.productsSection h1 {
    text-align: center;
    color: #cf3531;
    font-size: 3rem;
    margin-bottom: 0px; }
  section.productsSection h4 {
    text-align: center;
    margin-top: 0px; }
  section.productsSection > h2 {
    font-size: 2.8rem;
    text-align: center;
    color: #cf3531; }
  section.productsSection > h3 {
    color: #cf3531;
    font-size: 1.8rem; }
  section.productsSection hr {
    box-shadow: none;
    border: 1px solid #2A2A2A;
    width: 30%;
    margin-top: 50px; }
  section.productsSection .productsBox {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px; }
    section.productsSection .productsBox__product {
      flex-basis: 32%;
      width: 32%;
      min-width: 32%;
      max-width: 32%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start; }
      section.productsSection .productsBox__product img {
        max-height: 500px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%; }
      section.productsSection .productsBox__product__text h3 {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        color: #cf3531;
        font-size: 1.5rem; }
      section.productsSection .productsBox__product__text p {
        flex-basis: 100%; }
  @media screen and (max-width: 884px) {
    section.productsSection .productsBox {
      justify-content: center; }
      section.productsSection .productsBox__product {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        padding-top: 25px; }
        section.productsSection .productsBox__product img {
          max-width: 30%;
          align-self: center; }
        section.productsSection .productsBox__product__text {
          flex-basis: 70%;
          width: 70%;
          max-width: 70%;
          padding-left: 10px;
          padding-right: 10px; }
        section.productsSection .productsBox__product:last-of-type img {
          width: 30%; } }
  @media screen and (max-width: 555px) {
    section.productsSection hr {
      width: 50%;
      margin-top: 25px; }
    section.productsSection > h2 {
      border-top: 1px solid #2A2A2A;
      border-bottom: 1px solid #2A2A2A;
      padding-bottom: 8px; }
    section.productsSection > h3 {
      text-align: center; }
    section.productsSection .productsBox__product img {
      max-width: 100%; }
    section.productsSection .productsBox__product__text {
      flex-basis: 100%;
      padding-left: 0px;
      padding-right: 0px; }
      section.productsSection .productsBox__product__text h3 {
        font-size: 2rem; }
      section.productsSection .productsBox__product__text p {
        text-align: justify; }
    section.productsSection .productsBox__product:last-of-type img {
      width: auto; } }

header.emergency {
  background-color: #FAFAFA; }

.inverse {
  background-color: #CB4335; }
  .inverse h2 {
    color: #FAFAFA;
    text-align: center; }
  .inverse .hide {
    opacity: 0; }
  @media screen and (max-width: 555px) {
    .inverse h2 a {
      display: block; } }

.caution {
  color: #cf3531; }

section.emergencySection {
  background-color: #FAFAFA; }
  section.emergencySection .emergencySection__box {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 75px; }
    section.emergencySection .emergencySection__box > h2 {
      text-align: center; }
  section.emergencySection hr {
    box-shadow: none;
    border: 1px solid #2A2A2A;
    width: 80%;
    margin-top: 70px;
    margin-bottom: 35px; }
  section.emergencySection .spaceBottom {
    margin-bottom: 35px; }
  section.emergencySection .mainTitle {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px; }
  section.emergencySection .subtitle {
    color: #cf3531;
    text-align: center;
    margin-top: 0px; }
  section.emergencySection .section__gas {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    section.emergencySection .section__gas h2 {
      width: 100%;
      min-width: 100%;
      flex-basis: 100%;
      text-align: center; }
    section.emergencySection .section__gas__box {
      width: 48%;
      min-width: 48%;
      max-width: 48%;
      flex-basis: 48%;
      background-color: #F5D6BA;
      padding: 10px;
      border-radius: 3px;
      margin-top: 15px; }
      section.emergencySection .section__gas__box h3 {
        width: 100%;
        min-width: 100%;
        font-size: 1.8rem;
        text-align: center;
        color: #cf3531;
        margin-top: -35px; }
      section.emergencySection .section__gas__box h4 {
        text-align: center;
        margin-top: 0px;
        font-weight: 400; }
  section.emergencySection .otherBox {
    width: 48%;
    min-width: 48%;
    max-width: 48%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #F5D6BA;
    margin-bottom: 70px;
    border-radius: 3px; }
    section.emergencySection .otherBox h4 {
      text-align: center;
      font-weight: 400; }
  @media screen and (max-width: 884px) {
    section.emergencySection .mainTitle {
      font-size: 2.3rem; } }
  @media screen and (max-width: 555px) {
    section.emergencySection .mainTitle {
      font-size: 2rem; }
    section.emergencySection .section__gas__box {
      width: 100%;
      min-width: 100%;
      flex-basis: 100%;
      margin-top: 35px; }
    section.emergencySection .otherBox {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 35px; }
    section.emergencySection hr {
      width: 100%; } }

footer.emergencyFooter {
  background-color: #cf3531; }
  footer.emergencyFooter h4 {
    color: #FAFAFA; }

/*# sourceMappingURL=styles.css.map */
